In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
from sqlalchemy import create_engine
from config import username, password

In [8]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/sql_employee_db')
connection = engine.connect()

In [9]:
%%sql
select
    *
from
    Departments
Limit 10

 * postgresql://postgres:***@localhost/sql_employee_db
9 rows affected.

[('d001', 'Marketing'),
 ('d002', 'Finance'),
 ('d003', 'Human Resources'),
 ('d004', 'Production'),
 ('d005', 'Development'),
 ('d006', 'Quality Management'),
 ('d007', 'Sales'),
 ('d008', 'Research'),
 ('d009', 'Customer Service')]

In [12]:
%%sql
select
    *
from
    Salaries
Limit 10

 * postgresql://postgres:***@localhost/sql_employee_db
10 rows affected.

[(10001, 60117),
 (10002, 65828),
 (10003, 40006),
 (10004, 40054),
 (10005, 78228),
 (10006, 40000),
 (10007, 56724),
 (10008, 46671),
 (10009, 60929),
 (10010, 72488)]

In [ ]:
%%sql

select titles.title, salaries.salary
from titles

inner join 

employees on

employees.title_id = titles.title_id

inner join salaries on 

employees.emp_no = salaries.emp_no

In [ ]:
#create histogram

In [ ]:
# # Create bins in which to place salary ranges
# bins = [0, 199999, 399999, 599999, 799999, 999999,
#         1999999, 2999999, 3999999, 4999999, 50000000]

# # Create labels for these bins
# group_labels = ["0 to 199k", "200k to 399k", "400k to 599k", "600k to 799k", "800k to 999k", "1mil to 2mil",
#                 "2mil to 3mil", "3mil to 4mil", "4mil to 5mil", "5mil to 50mil"]